{% extends 'base.html' %}
{% load materializecss %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    .ruleEngineDiv{
        margin-top:2%;
        margin-left:auto;
        margin-right:auto;
        width:30%;
    }
</style>
{% endblock head %}

{% block body %}

  {% for message in messages %}
    <div class="card-panel yellow lighten-2">
        <strong> {{message}} </strong>
    </div>
{% endfor %}
<h2 style="text-align:center"> Set Service Rules </h2>
<div class="ruleEngineDiv ">
    <form method="POST" action="" class="row">
        {% csrf_token %}
        {{ form|materializecss }}
        <button class="waves-effect waves-light btn-large findbtn col s8 offset-s2" style="margin-left:15%;margin-right:15%" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}