{% extends 'base.html' %}
{% load materializecss %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
    .servDiv{
        margin-top:5%;
        margin-left:auto;
        margin-right:auto;
        width: 25%;
  }
  .findbtn{
    background-color: #FED250;
    width: 25%;
  }


</style>
{% endblock head %}

{% block body %}
{% for message in messages %}
<div class="card-panel yellow lighten-2">
    <strong> {{message}} </strong>
</div>
{% endfor %}
<div>
  <h4 style="text-align:center">Update Service Details</h4>
  <div class="servDiv">
    <form method="post" class="col s12">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          {{ form|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="input-field center">
          <button class="waves-effect waves-light btn-large findbtn col s8 offset-s2" type="submit" name="action">Update</button>
        </div>
      </div>
    </form>
</div>
</div>

{% endblock body %}


